datasets
einops
fsspec
git-lfs
h5py
hydra-core
ipdb
lightning==2.2.1
nvitop
omegaconf
packaging
pandas
rich
notebook
seaborn
scikit-learn
timm
transformers
sentencepiece
triton
wandb
ftfy
accelerate
bs4
flash-attn

# pip3 install -U xformers --index-url https://download.pytorch.org/whl/cu121