datasets
einops
fsspec
git-lfs
h5py
hydra-core
ipdb
lightning==2.2.1
notebook
nvitop
omegaconf
packaging
pandas
rich
seaborn
scikit-learn
timm
transformers
sentencepiece
triton==2.1.0
wandb
ftfy
accelerate
bs4
flash-attn